.hiringContent {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 600px;
    overflow: hidden;
    background-color: rgb(226, 226, 226);
}
.hiringLeft,
.hiringRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    flex-basis: 50%;
    margin-left: 20px;
}
.hiringLeft h2 {
    font-size: 3.2rem;
    font-weight: 600;
    margin-bottom: 40px;
}
.hiringLeft p {
    width: 30rem;
    color: #646666;
    font-size: 1.3rem;
}
.hiringButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 40px 0;
}
.hiringButton {
    height: 150px;
    background: #dbdedf;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    margin: 0 10px;
    transition: background 0.2s;
}
.hiringButton:hover {
    background: #cccccc;
}
.hiringButton h3 {
    font-size: 5rem;
}
.hiringButton p {
    font-size: 1.8rem;
}
.hiringRight img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.exploreCareersButton {
    height: 80px;
    width: 300px;
    background: #d13639;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background 0.3s;
}
.exploreCareersButton p {
    color: #fff;
    font-size: 1.6rem;
}