.mainContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.whatsHappening {
    background: linear-gradient(to right,
    rgb(6, 56, 63),rgb(1, 1, 1), rgb(1, 1, 1));
    background-position: center;
    height: fit-content;
    align-items: center;
    padding: 60px;
}
.whatsHappeningHeader {
    display: flex;
    justify-content: space-between;
}
.whatsHappeningHeader h1 {
    color: #fff;
    font-size: 3rem;
}
.seeMoreButton {
    width: 100px;
    height: 30px;
    background: #2b2a29;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.seeMoreButton p {
    color: #fff;
    text-align: center;
    font-size: 0.8rem;
    font-weight: bold;
}
.whContent {
    height: 630px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}
.whContentLeft, .whContentRight {
    flex-basis: 47.5;
    height: 100%;
    width: 100%;
}
.bigWHCard {
    background: url(../public/images/221012-ccc-gaming2-0-kv-landscape-cmyk-preview.png);
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: relative;
    border-radius: 10px;
    transition: 0.1s;
}
.bigWHCard p {
    position: absolute;
    bottom: 0.1px;
    color: #ffffff;
    font-size: 2rem;
    margin-left: 20px;
}
.bigWHCard:hover, .smallWHCard:hover {
    border: 2px solid #989d9e;
}
.whContentRight {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 30px;
    justify-content: space-between;
}
.smallWHCard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 130px;
    overflow: hidden;
    background: #2b2a29;
    border-radius: 10px;
    width: 100%;
    transition: 0.1s;
}
.smallWHCardLeft {
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
.smallWHCardLeft p {
    color: #fff;
    font-size: 1.2rem;
}
.smallWHCardLeft span {
    color: #646666;
    font-size: 1rem;
}
.smallWHCard img {
    width: 230px;
    height: 100%;
}